<%- include("./common/header.ejs") %>


<!-- Jumbotron -->

<!-- Jumbotron -->

<!-- Card -->
    <!-- Default form contact -->
    <div class="row d-flex justify-content-center mt-5">
        <div class="text-center border border-light p-5 w-50 h-75 col-md-6" >
        <p>Kindly press below buttons accordingly </p>
            <a href="/checkIn"><button type="button" class="btn btn-dark-green">CheckIn</button></a>
            
            <!--Light-green-->
            <a href="/checkOut"><button type="button" class="btn btn-light-green">CheckOut</button></a>
            
        </div>
        <!-- Default form contact -->
    </div>


    
 


        
<%- include("./common/footer.ejs") %>
