 body {
 	margin: 0;
 	padding: 0;
 }

 .navbar {
 	display: flex;
 	justify-content: space-between;
 	background: #ff9361;
 	padding: 1rem
 }

 .secondaryNav {
 	display: flex;
 	justify-content: space-between;
 }

 .buttonArea {
 	margin-top: 10rem;
 	background-color: #fcff55;
 	width: 60vw;
 	height: 50vh;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	border-radius: 4rem;
 }

 main {
 	display: flex;
 	justify-content: center;
 }

 .checkIn, .checkOut {
 	width: 30%;
 	height: 2rem;
 	border-radius: 100px;
 	margin-right: 1.3rem;
 	outline: none;
 	background-color: rgb(103, 248, 45)
 }

 .link {
 	text-decoration: none;
 	margin-right: 1rem;
 }

 .link:active {
 	color: yellowgreen;
 }

 .link:hover {
 	color: green;
 }