
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
<footer class="footer fixed-bottom page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Made by :
        <a href="https://www.linkedin.com/in/tejendra-pal-a3b107173"><i class="fab fa-linkedin fa-fw blue-text"></i>
            Tejendra Pal Singh</a>
    </div>
    <!-- Copyright -->

</footer>
</body>

</html>